<div>
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>



    <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
            <div class="row align-items-center position-relative">

                <div class="col-3 ">
                    <div class="site-logo">
                        <a routerLink="" class="font-weight-bold">
                            <img src="assets/images/logo.png" alt="Image" class="img-fluid"
                                style="width: 180px; height: 100px; margin-left: -33px;">
                        </a>
                    </div>
                </div>

                <div class="col-9  text-right">


                    <span class="d-inline-block d-lg-none"><a href="#"
                            class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span
                                class="icon-menu h3 text-white"></span></a></span>



                    <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav ml-auto ">
                            <li class="active"><a routerLink="" class="nav-link" style="margin-left: 32px;">Acceuil</a>
                            </li>
                            <li><a routerLink="destinations" class="nav-link">Meuilleus Destination</a></li>
                            <li><a routerLink="#" class="nav-link">Equipements</a></li>
                            <li><a routerLink="avis" class="nav-link">Avis</a></li>
                            <li><input type="submit" routerLink="login" class="btn btn-primary text-white py-3 px-4"
                                    value="connexion" style="margin-right: 15px;"></li>
                            <li><input type="submit" routerLink="signin" class="btn btn-primary text-white py-3 px-4"
                                    value="inscrption">
                            </li>
                        </ul>
                    </nav>
                </div>


            </div>
        </div>

    </header>
</div>