<div class="site-section">

    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-7">
                <div class="heading-39101 mb-5">
                    <span class="backdrop text-center">AVENTURE</span>
                    <span class="subtitle-39191">Aventure</span>
                    <h3>votre exploration du camping <br> commence ici !</h3>
                </div>
            </div>
        </div>
        <div class="row" *ngFor="let camping of campings">
            <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
                <div class="listing-item">
                    <div class="listing-image">
                        <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid">
                    </div>
                    <div class="listing-item-content">
                        <a class="px-3 mb-3 category bg-primary" href="#">{{campings}}</a>
                        <h2 class="mb-1"><a href="trip-single.html">Dignissimos debitis</a></h2>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>